@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: 'Montserrat', sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.dashboardPage {
  background-color: $off-white;
  min-height: calc(100vh - #{$HeaderHeight});
}
